<div id="container">
  <div id="body">
    <div class="logo">
      <img class="sign-in-logo" src='../../assets/images/logo.png'>
    </div>
    <form>
      <div class="switch-field">
        <input type="radio" id="switch_left" name="switch_2" value="email" checked (change)="changeLoginType($event)"/>
        <label for="switch_left"><p><i class="material-icons">mail</i><span>Email</span></p></label>
        <input type="radio" id="switch_right" name="switch_2" value="phone" (change)="changeLoginType($event)"/>
        <label for="switch_right"><p><i class="material-icons">phone</i><span>Phone</span></p></label>
      </div>

      <ng-container *ngIf="loginType === 'email'; then emailLogin; else phoneLogin">sdsdsdsdsdsdsdsdsdsdsds</ng-container>
      <ng-template #emailLogin>
        <div class="input-fields">
          <input type="text" placeholder="Enter your email" name="email" [(ngModel)] = 'email'>
          <input type="password" placeholder="Password" name="password" [(ngModel)] = 'password'>
        </div>
      </ng-template>
      <ng-template #phoneLogin>
        <div class="input-fields">
          <input type="text" placeholder="Enter your phone" name="phone" [(ngModel)] = 'phone'>
        </div>
      </ng-template>
      <div class="reset-pass-link">
        <a href="#">Forgot your Password?</a>
      </div>
      <button type="button" class="login-button" (click)="login()">Login</button>
    </form>
    <div class="social-media">
      <p class="line-around">or signup with your social account</p>
      <div class="social-media-icons">
        <a><img src="../../assets/images/facebook-logo.png"></a>
        <a><img src="../../assets/images/instagram-logo.png"></a>
        <a><img src="../../assets/images/vk-logo.png"></a>
      </div>
    </div>
  </div>
  <div class="footer">
    <p>Don't have an account? <a routerLink="/registration">Create now</a></p>
    <p><a href="#">Skip ></a></p>
  </div>
</div>
