<div id="container">
  <div id="body">
    <mat-progress-bar
      class="example-margin"
      [color]="primary"
      [mode]="determinate"
      [value]="progress">
    </mat-progress-bar>
    <div [ngSwitch]="step">
      <div *ngSwitchCase="1">
        <div class="logo">
        <img class="sign-in-logo" src='../../assets/images/gender.png'>
        </div>
        <h3>Select your Gender</h3>
        <div class="switch-field">
            <input type="radio" id="switch_left" name="switch_2" value="male" checked (change)="changeGender($event)"/>
            <label for="switch_left"><p><img src="../../assets/images/male.png"><span>Male</span></p></label>
            <input type="radio" id="switch_right" name="switch_2" value="female" (change)="changeGender($event)"/>
            <label for="switch_right"><p><img src="../../assets/images/female.png"><span>Female</span></p></label>
        </div>
        <div>
        <button type="button" class="login-button" (click)="nextStep($event)">Next</button>
        </div>
      </div>
      <div *ngSwitchCase="2">
        <div class="logo">
          <img class="sign-in-logo" src='../../assets/images/location.png'>
        </div>
        <div class="location">
          <h3>Your Location</h3>
          <input type="text" placeholder="Enter your Town">
        </div>
        <div>
          <button type="button" class="login-button" (click)="nextStep($event)">Next</button>
        </div>
      </div>
      <div *ngSwitchCase="3">
        <div class="logo">
          <img class="sign-in-logo" src='../../assets/images/location.png'>
        </div>
        <div class="location">
          <h3>What's your Name?</h3>
          <input type="text" placeholder="Enter your Name">
        </div>
        <div>
          <button type="button" class="login-button" (click)="nextStep($event)">Next</button>
        </div>
      </div>
      <div *ngSwitchCase="4">
        <div class="logo">
          <img class="sign-in-logo" src='../../assets/images/dateOfBirth.png'>
        </div>
        <div class="location">
          <h3>What's your Date of Birth?</h3>
          <input type="date">
        </div>
        <div>
          <button type="button" class="login-button" (click)="nextStep($event)">Next</button>
        </div>
      </div>
      <div *ngSwitchCase="5">
        <div class="logo">
          <img class="sign-in-logo" src='../../assets/images/phone.png'>
        </div>
        <div class="location">
          <h3>Enter your Phone Number</h3>
          <div class="input-phone">
            <select>
              <option>7</option>
              <option>375</option>
              <option>380</option>
            </select>
            <input type="tel" placeholder="Enter your phone">
          </div>
          <p class="grey">Phone number is required to confirm your Real status.
            This will give you an ability to exchange contacts safely with other members.
            We do not use your number for sending spam. You can skip this step if you want.</p>
        </div>
        <div>
          <button type="button" class="login-button" (click)="nextStep($event)">Next</button>
        </div>
      </div>
      <div *ngSwitchCase="6">
        <div class="logo">
          <img class="sign-in-logo" src='../../assets/images/photo.png'>
        </div>
        <div class="location">
          <h3>Add Profile Photo</h3>
          <div>
            <input type="file" id="files" name="files[]" />
            <img id="photo" [src] = "imgPath">
            <output id="list"></output>
          </div>

        </div>
        <div>
          <button type="button" class="login-button" (click)="dd($event)">Register</button>
        </div>
      </div>
    </div>
    <!--</div>-->
    <!--<div class="logo">-->
      <!--<img class="sign-in-logo" src='../../assets/images/logo.png'>-->
    <!--</div>-->

    <!--<form>-->
      <!--<div class="switch-field">-->
        <!--<input type="radio" id="switch_left" name="switch_2" value="email" checked (change)="changeRegistrationType($event)"/>-->
        <!--<label for="switch_left"><p><i class="material-icons">mail</i><span>Email</span></p></label>-->
        <!--<input type="radio" id="switch_right" name="switch_2" value="phone" (change)="changeRegistrationType($event)"/>-->
        <!--<label for="switch_right"><p><i class="material-icons">phone</i><span>Phone</span></p></label>-->
      <!--</div>-->
        <!--<div class="input-fields">-->
          <!--<input type="text" placeholder="Enter your email">-->
          <!--<input type="password" placeholder="Password">-->
          <!--<input type="password" placeholder="Confirm password">-->
        <!--</div>-->
      <!--<div>-->
        <!--<button type="button" class="login-button" (click)="nextStep($event)">Next</button>-->
      <!--</div>-->
    <!--</form>-->
  <!--</div>-->
  </div>
  <div class="footer">
    <p>Already have an account? <a routerLink="/login">Login</a></p>
    <p><a routerLink="">Cancel</a></p>
  </div>
</div>
