a {
  text-decoration: none;
  font-size: 20px;
  color: #3773b8;
}

a:hover {
  cursor: pointer;
}

i {
  padding-right: 10px;
}

form {
  text-align: center;
}

form p {
  font-size: 16px;
}
.logo {
  display: flex;
  justify-content: center;
  padding: 50px 0px;
}
.sign-in-logo{
  height: 120px;
}

.verification-code {
  display: flex;
  justify-content: space-around;
  padding: 0 10px;
}

.verification-code input {
  width: 15%;
  height: 50px;
  border: 1px solid #d4d4d4;
  border-radius: 5px;
  font-size: 24px;
  text-align: center;
}

.timer {
  font-size: 24px !important;
  color: #0074bc;
  margin-top: 20px;
  margin-bottom: 0;
  height: 30px;
}
.switch-field {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}

.switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.switch-field label {
  width: 48%;
  border: none;
  border-radius:13px;
  background-color:#d3dfee;
  color:#fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.switch-field p {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.switch-field span {
  font-size: 22px;
}

.switch-field label:hover {
  cursor: pointer;
}

.switch-field input:checked + label {
  background-color:#3773b8;
  color:#F7F7F7;
}

.input-phone {
  margin-top: 30px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input-phone input,
.input-phone select {
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  background-color: #fff;
  font-size: 20px;
  padding-left: 10px;
}

.input-phone select {
  height: 54px;
  padding: 1px 0;
  width: 25%;
}

.input-phone input {
  height: 50px;
  width: 70%;
}
